.btn-primary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  cursor: pointer;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn[disabled] {
  cursor: no-drop;
}