html, body {
  background-color: #fffcf6;
  color: #636b6f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 64px;
  font-weight: 200;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
}

.m-b-md {
  margin-bottom: 30px;
}

.sks {
  margin-top: 120px;
}

.content__block_opacity {
  background-color: rgba(255, 255, 255, .8);
  padding: 50px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.23);
  -moz-box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.23);
  box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.23);
}
.top-right__links_opacity {
  background-color: rgba(255, 255, 255, .9);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  width: 100%;
  z-index: 2;
  position: fixed;
  height: 60px;
}
.page-wrapper {
  background: #4AC29A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  min-height: 100vh;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
